
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pangea-bet-app-primary: mat.define-palette(mat.$gray-palette, 900);
$pangea-bet-app-accent: mat.define-palette(mat.$amber-palette, 700);

// The warn palette is optional (defaults to red).
$pangea-bet-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pangea-bet-app-theme: mat.define-light-theme((
  color: (
    primary: $pangea-bet-app-primary,
    accent: $pangea-bet-app-accent,
    warn: $pangea-bet-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pangea-bet-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex: 1 1 100%;
  place-content: center;
  max-height: 100%;
  margin: 10px 10px;
}

.card-fixed-width {
  min-width: 300px;
  max-width: 400px;
}